@page
@model Torneo.App.Frontend.Pages.Municipios.IndexModel
@{
}
@if (Model.ErrorEliminar)
{
    <div class="alert alert-danger" role="alert">
        No se pudo eliminar el Municipio
    </div>
}
<center>
    <h1>Municipios</h1>
<table class="table table-bordered border-IndianRed " , border="2" , style="width: 50%">
    <thead>
        <tr bgcolor="#808080">
            <th style="text-align:center" scope="col">Id</th>
            <th style="text-align:center" scope="col">Nombre</th>
            <th style="text-align:center" scope="col">Acciones</th>
            <th> 
                <center>
             <a style="text-align:center" class="btn btn-outline-warning" asp-page="./Create">Crear</a>
                </center>
             </th>
             <th style="text-align:center" scope="col"></th>
                 
        </tr>
    </thead>
    <tbody>
        @foreach (var municipio in Model.municipios)
        {
            <tr bgcolor="#F8F9F9">
                <th scope="row">@municipio.Id</th>
                <td>@municipio.Nombre</td>
                <td>
                    <center>
                        <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@municipio.Id">
                        Detalle
                        </a>
                    </center>
                    <th>
                        <center>
                            <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@municipio.Id">
                        Editar
                    </a>
                        </center>
                    </th>   
                   <th>

                    @if (municipio.Equipos.Count == 0)
                    {
                        <form method="post" class="d-inline">
                            <button asp-page-handler="Eliminar" asp-route-id="@municipio.Id"
                            onclick="return confirm('Esta Seguro de eliminar el municipio?')" class="btn btn-outline-danger">
                                Eliminar
                            </button>
                        </form>
                    }
                    </th>
                </td>
            </tr>
        }
    </tbody>
</table>
</center>