@page
@model Torneo.App.Frontend.Pages.Posiciones.IndexModel
@{
}
<center>
@if (Model.ErrorEliminar)
{
    <div class="alert alert-danger" role="alert">
        No se pudo eliminar la posicion
    </div>
}
<h1>Posiciones</h1>

<table  class="table table-bordered border-#922B21 " , border="2" , style="width: 50%">
    <thead>
        <tr style="text-align:center" bgcolor="#808080">
            <th style="text-align:center" scope="col">Id</th>
            <th style="text-align:center" scope="col">Nombre</th>
           
                @*<td style="text-align:right">@row.Price</td> *@
            <th style="text-align:center" scope="col">Acciones</th>
                
                <th> 
                   <center>
                   <a class="btn btn-outline-warning" asp-page="./Create">Crear</a>
                   </center>
                </th>
                 
                   
           
        </tr>
    </thead>
    <tbody>
        @foreach (var posicion in Model.posiciones)
        {
            <tr bgcolor="#F8F9F9">
                <th scope="row">@posicion.Id</th>
                <td>@posicion.Nombre</td>
                <td>
                    <center>
                        <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@posicion.Id">
                        Detalle
                    </a>
                    </center>
                   
                    <th>
                        <center>
                            <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@posicion.Id">
                        Editar
                    </a>
                        </center>
                         
                    </th>
                   
                   
                    
            
                </td>
            </tr>
        }
    </tbody>
</table>
</center>