@page
@model Torneo.App.Frontend.Pages.Partidos.DetailsModel
@{
}
<h1>Detalle del Partido</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.partido.Id</td>
    </tr>
    <tr>
        <th scope="col">FechaHora</th>
        <td>@Model.partido.FechaHora</td>
    </tr>
    <tr>
        <th scope="col">Equipo Local</th>
        <td>@Model.partido.Local.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Marcador Local</th>
        <td>@Model.partido.MarcadorLocal</td>
    </tr>
    <tr>
        <th scope="col">Equipo Visitante</th>
        <td>@Model.partido.Visitante.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Marcador Visitante</th>
        <td>@Model.partido.MarcadorVisitante</td>
    </tr>
</table>
<br>
<a class="btn btn-success" asp-page="./Index">Volver</a>