@page
@model Torneo.App.Frontend.Pages.Partidos.IndexModel
@{
}
<center>

<h1>Partidos</h1>
<table class="table table-bordered border-#922B21 " , border="2" , style="width: 50%">
    <thead>
        <tr style="text-align:center" bgcolor="#808080">
            <th style="text-align:center" scope="col">Id</th>
            <th style="text-align:center" scope="col">Fecha Partido</th>
            <th style="text-align:center" scope="col">Equipo Local</th>
            <th style="text-align:center" scope="col">Acciones</th>
            <th> 
                   <center>
                   <a class="btn btn-outline-warning" asp-page="./Create">Crear</a>
                   </center>
             </th>

        </tr>
    </thead>
    <tbody>
        @foreach(var partido in Model.partidos)
        {
            <tr>
                <th scope="row">@partido.Id</th>
                <th scope="row">@partido.FechaHora</th>
                <th scope="row">@partido.Local.Nombre</th>
                <td>
                    
                      <center>
                        <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@partido.Id">
                            Detalle
                            </a>
                    </center>
                   
                    <th>
                        <center>
                             <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@partido.Id">
                             Editar
                             </a>
                        </center>
                         
                    </th>
                </td>
           </tr>

        }   
    </tbody>

</table>
</center>