@page
@model Torneo.App.Frontend.Pages.Partidos.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear Partido</a>
<h1>Listado de Partidos</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha Partido</th>
            <th scope="col">Equipo Local</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var partido in Model.partidos)
        {
            <tr>
                <th scope="row">@partido.Id</th>
                <th scope="row">@partido.FechaHora</th>
                <th scope="row">@partido.Local.Nombre</th>
                <td>
                    <a class="btn btn-success" asp-page="./Details" asp-route-id="@partido.Id">Detalle</a>
                    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@partido.Id">Editar</a>
                </td>
           </tr>

        }   
    </tbody>

</table>
