@page
@model Torneo.App.Frontend.Pages.Equipos.IndexModel
@{
}
<form method="post">
    <div class="input-group mb-3">
        <select asp-for="MunicipioSelected" asp-items="@Model.MunicipioOptions" name="idMunicipio" class="form-control">
            <option value="-1">Ver todos</option>
        </select>
        <button class="btn btn-outline-secondary" asp-page-handler="Filtro">
            Filtrar
        </button>
    </div>
</form>

<form method="post">
    <div class="input-group mb-3">
        <input asp-for="@Model.BusquedaActual" name="nombre" class="form-control">
        <button class="btn btn-outline-secondary" asp-page-handler="Buscar">
            Buscar
        </button>
    </div>
</form>


<center>
    <h1>Equipos</h1>
<table class="table table-bordered border-#922B21 " , border="2" , style="width: 50%">
    <thead>
        <tr bgcolor="#808080">
            <th style="text-align:center" scope="col">Id</th>
            <th style="text-align:center" scope="col">Nombre</th>
            <th style="text-align:center" scope="col">Dir.Tecnico</th>
            <th style="text-align:center" scope="col">Acciones</th>
        
            <th> 
                   <center>
                   <a class="btn btn-outline-warning" asp-page="./Create">Crear</a>
                   </center>
             </th>
             
        </tr>
    </thead>
    <tbody>
        @foreach (var equipo in Model.equipos)
        {
            <tr bgcolor="#F8F9F9">
                <th scope="row">@equipo.Id</th>
                <td>@equipo.Nombre</td>
                <td>@equipo.DirectorTecnico.Nombre</td>
                <td>
                    <center>
                       <a  class="btn btn-outline-success" asp-page="./Details" asp-route-id="@equipo.Id">
                       Detalle
                    </a>
                    </center>
                    <th>
                        <center>
                            <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@equipo.Id">
                            Editar
                    </a>
                        </center>
                         
                    </th>
                 </td>
            </tr>
        }
    </tbody>
</table>
</center>