@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear Jugador</a>
<h1>Listado de Jugadores</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Numero</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var jugador in Model.Jugadores)
        {
            <tr>
                <th scope="row">@jugador.Id</th>
                <td>@jugador.Nombre</td>
                <td>@jugador.Numero</td>
            </tr>
            <td>
                <a class="btn btn-success" asp-page="./Details" asp-route-id="@jugador.Id">Detalle</a>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@jugador.Id">Editar</a>
            </td>    
        }
    </tbody>
</table> 
