@page
@model Torneo.App.Frontend.Pages.Jugadores.IndexModel
@{
}
<center>

<h1>Jugadores</h1>

<table  class="table table-bordered border-#922B21 " , border="2" , style="width: 50%">
    <thead>
        <tr style="text-align:center" bgcolor="#808080">
            <th style="text-align:center" scope="col">Id</th>
            <th style="text-align:center" scope="col">Nombre</th>
            <th style="text-align:center" scope="col">Numero</th>
            <th style="text-align:center" scope="col">Acciones</th>
           
                @*<td style="text-align:right">@row.Price</td> *@
           
                
                <th> 
                   <center>
                   <a class="btn btn-outline-warning" asp-page="./Create">Crear</a>
                   </center>
                </th>
              
                  
        </tr>
        
    </thead>
    <tbody>
        @foreach(var jugador in Model.Jugadores)
        {
            <tr bgcolor="#F8F9F9">
                <th scope="row">@jugador.Id</th>
                <td>@jugador.Nombre</td>
                <td>@jugador.Numero</td>
            
            <td>
                  <center>
                          <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@jugador.Id">
                        Detalle
                    </a>
                    </center>
                   
                    <th>
                        <center>
                            <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@jugador.Id">
                        Editar
                    </a>
                        </center>
                         
                    </th>
                  
            </td> 
           </tr>
        }
    </tbody>
</table> 
</center>